html, body, #root {
  overflow-x: hidden !important;
}
/* 프리텐다드 폰트 */
@font-face {
	font-family: 'Pretendard';
	font-weight: 900;
	font-display: swap;
  src:url(./../../../public/fonts/Pretendard-Black.woff2) format('woff2'), url(./../../../public/fonts/Pretendard-Black.woff) format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 800;
	font-display: swap;
	src: local('Pretendard ExtraBold'), url(./../../../public/fonts/Pretendard-ExtraBold.woff2) format('woff2'), url(./../../../public/fonts/Pretendard-ExtraBold.woff) format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 700;
	font-display: swap;
	src: local('Pretendard Bold'), url(./../../../public/fonts/Pretendard-Bold.woff2) format('woff2'), url(./../../../public/fonts/Pretendard-Bold.woff) format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 600;
	font-display: swap;
	src: local('Pretendard SemiBold'), url(./../../../public/fonts/Pretendard-SemiBold.woff2) format('woff2'), url(./../../../public/fonts/Pretendard-SemiBold.woff) format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 500;
	font-display: swap;
	src: local('Pretendard Medium'), url(./../../../public/fonts/Pretendard-Medium.woff2) format('woff2'), url(./../../../public/fonts/Pretendard-Medium.woff) format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 400;
	font-display: swap;
	src: local('Pretendard Regular'), url(./../../../public/fonts/Pretendard-Regular.woff2) format('woff2'), url(./../../../public/fonts/Pretendard-Regular.woff) format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 300;
	font-display: swap;
	src: local('Pretendard Light'), url(./../../../public/fonts/Pretendard-Light.woff2) format('woff2'), url(./../../../public/fonts/Pretendard-Light.woff) format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 200;
	font-display: swap;
	src: local('Pretendard ExtraLight'), url(./../../../public/fonts/Pretendard-ExtraLight.woff2) format('woff2'), url(./../../../public/fonts/Pretendard-ExtraLight.woff) format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 100;
	font-display: swap;
	src: local('Pretendard Thin'), url(./../../../public/fonts/Pretendard-Thin.woff2) format('woff2'), url(./../../../public/fonts/Pretendard-Thin.woff) format('woff');
}

* { font-family: 'Pretendard', sans-serif; }

/* 기본 라이트모드 변수 설정 */
:root{
	--bg-color-root:lightblue;
	--bg-color-overlay: white;
	--bg-color-primary: white;
	--text-color-primary: #1a1a1a;
	--border-color-primary: 1px solid #a9a9a9;

	/* Weather 기본 변수 */
	--bg-color-waether:#fff;
	--text-color-waether-gray:#888;
	--text-color-waether-blue:#1976d2;

	/* Login 기본 변수 */
	--text-color-login-title:#222;
	--text-color-login-connet:#555;

	/* Uplods 기본 변수 */
	--bg-color-upload: #f0f4f8;

	/* settings 기본 변수 */
	--text-color-settings-notice: #888;
	--text-color-settings-notice-h4: #333;
	--text-color-notice-data: #888;
	--text-color-notice-content:#444;

	/* Notificartions 기본 변수 */
	--bg-color-notification:#f8f8fa;
	--text-color-notification:#222;

	/* PostCard 기본 변수 */
	--text-color-card-likes: #222;

	/* toggleSwitch 기본 변수 */
	--text-color-toggle-switch-label:#222;
	--text-color-toggle-switch-desc:#888;

	/* TopBar 기본변수 */
	--text-color-topbar:#555;

	/* 아이콘 기본 변수 */
	--color-icon-primary:#000;

}
/* 다크모드 변수 설정 */
html.dark {
	--bg-color-root:#1a1a1a;
	--bg-color-overlay:#2a2a2a;
	--bg-color-primary: #2a2a2a;
	--text-color-primary: #e5e5e5;
	--border-color-primary: 1px solid #a9a9a9;

	/* Weather 다크모드 변수 */
	--bg-color-waether:#3f3f3f;
	--text-color-waether-gray:#c7c7c7;
	--text-color-waether-blue:#3690eb;

	/* Login 기본 변수 */
	--text-color-login-title:#d3d3d3;
	--text-color-login-connet:#b3b3b3;

	/* Uplods 기본 변수 */
	--bg-color-upload: #2a2a2a;

	/* settings 다크모드 변수 */
	--text-color-settings-notice: #e5e5e5;
  --text-color-settings-notice-h4: #c2c2c2;
	--text-color-notice-data: #e5e5e5;
  --text-color-notice-content:#b3b3b3;

	/* toggleSwitch 다크모드 변수 */
	--text-color-toggle-switch-label:#d3d3d3;
	--text-color-toggle-switch-desc:#b6b6b6;

	/* Notificartions 다크모드 변수 */
	--bg-color-notification:#444444;
	--text-color-notification:#888;

	/* PostCard 다크모드 변수 */
	--text-color-card-likes: #888;

	/* TopBar 다크모드 변수 */
	--text-color-topbar:#b3b3b3;
	
	/* 아이콘 다크모드 변수 */
	--color-icon-primary:#fff;
	
}

body{
	color: var(--text-color-primary);
	transition: background-color 0.3s ease, color 0.3s ease;
}


/* 설정 */
.root {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
	background-color: var(--bg-color-root)
}
.overlay {
	position: relative;
  width: 100%;
  max-width: 440px;
  min-height: 100vh;
  margin: 0 auto;
  box-sizing: border-box;
	background-color: var(--bg-color-overlay)
}

.content {
	flex: 1;
	width: 100%;
	max-width: 440px;
	min-height: calc(100vh - 130px);
	margin: 0 auto;
}

/* 얩 전반 아이콘 색상 설정 */

.app-icon{
	color: var(--color-icon-primary);
	transition: all 0.3s ease;
}
.app-width-hegth{
	width: 28px;
	height: 28px;
}