.login-container {
  height: calc(100vh);
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
}

.login-card {
  width: 400px;
  height: 590px;
  border: 1px solid #505050;
  border-radius: 12px;
  background: var(--bg-color-overlay);
  padding: 32px 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

.login-logo {
  width: 84px;
  height: 84px;
  margin-bottom: 16px;
}

.login-title {
  margin: 0;
  font-weight: 700;
  font-size: 28px;
  color: var(--text-color-login-title);
}

.login-subtitle {
  margin: 12px 0 32px 0;
  color: var(--text-color-login-connet);
  font-size: 16px;
  text-align: center;
}

.social-button {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  margin-bottom: 16px;
  transition: 0.3s;
  color: #fff;
}

.social-button.google {
  background-color: #db4437;
}

.social-button.google:hover {
  background-color: #c13527;
}

.social-button.kakao {
  background-color: #fee500;
  color: #3c1e1e;
}

.social-button.kakao:hover {
  background-color: #e6d500;
}

.social-button.naver {
  background-color: #03c75a;
}

.social-button.naver:hover {
  background-color: #02a74b;
}

.login-info {
  margin-top: 16px;
  font-size: 14px;
  color: var(--text-color-login-connet);
  text-align: center;
}

.login-button outline {
  
}