/* 공통 css */
.settings-container {
  padding-top: 20px;
  margin: 0 auto;
}
.settings-section {
  margin: 0 20px;
  padding: 20px;
  border: 1px solid #A9A9A9;
  border-radius: 10px;
  margin-bottom: 32px;;
}
.settings-section h3 {
  font-size: 16px;
  margin-bottom: 8px;
}

/* 공지사항 */
.settings-notice {
  color: var(--text-color-settings-notice);
  font-size: 14px;
  border: 1px solid #A9A9A9;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 8px 12px;
}
.settings-notice h4 {
  color: var(--text-color-settings-notice);
  font-weight: 600;
  margin: 0 0 6px 0;
}
.settings-notice:last-child {
  margin-bottom: 0;
}

/* 공지사항 아코디언 */
.notice-accordion {
  cursor: pointer;
  margin-bottom: 10px;
  transition: box-shadow 0.2s;
}
.notice-accordion.open {
  box-shadow: 0 2px 8px #0001;
}
.notice-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
}
.notice-date {
  font-size: 13px;
  color: var(--text-color-notice-data);
  margin-left: 8px;
}
.notice-arrow {
  font-size: 18px;
  margin-left: 8px;
}
.notice-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s cubic-bezier(.4,0,.2,1), opacity 0.3s cubic-bezier(.4,0,.2,1);
  margin-top: 0;
  opacity: 0;
  color:var(--text-color-notice-content);
  font-size: 13px;
}
.notice-accordion.open .notice-content {
  max-height: 200px;
  margin-top: 8px;
  opacity: 1;
}

/* 알림 제어 */
.settings-toggle-list {
  display: flex;
  flex-direction: column;
}
.settings-toggle-list > * {
  border-bottom: 1px solid #e0e0e0;
}
.settings-toggle-list > *:last-child {
  border-bottom: none;
}

/* 계정관리 */
.settings-section:last-child {
  margin-bottom: 80px;
}

/* 회원 탈퇴, 로그아웃 버튼 */
.settings-alert-btn, .settings-delete-btn {
  width: 100%;
  height: 40px;
  font-size: 14px;
  cursor: pointer;
  padding: 8px 0;
}
.settings-alert-btn {
  margin-bottom: 16px;
  border: 1px solid #a4a4a4;
}
.settings-alert-btn:hover {
  border: 1px solid #ff4d4f;
}
.settings-delete-btn {
  color: white;
  background-color: #ff4d4f;
}
.settings-delete-btn:hover {
  border: 1px solid #ff4d4f;
  background-color: hsl(359, 100%, 58%);
  transition: 0.3s;
}
